/*reset*/
* {margin:0%;
 padding: 0%;
 box-sizing: border-box;
}

a {text-decoration:none
}

imag{
    width: 100%;
    height: auto;
}

body{
font: 400 1rem 'Dm Sans', sans-serif;
}

h1{
 --color:red;
 font:700 1.875rem 'Dm Sans', sans-serif;

}

:root {
    font-size: 100%; /*16px*/
}

#header{
  height: 4.5rem;
  }
  
  nav {
      display: flex;
      justify-content: space-between;
  }

.container {
  width: 90%;  
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}